####################### MYSQL SETUP #######################

MYSQL_DATABASE=wordpress_db
MYSQL_USER=tisantos
MYSQL_PASSWORD=
MYSQL_DB_HOST=mariadb

######################## Wordpress ########################

WORDPRESS_DB_NAME=wordpress_db
WORDPRESS_DB_USER=tisantos
WORDPRESS_DB_PASSWORD=

########################## Nginx ##########################

NGINX_WORDPRESS_CONTAINER_NAME=wordpress
NGINX_WORDPRESS_PORT=9000